<%= link_to 'New Translation', new_translation_path %>

<h1>Translations</h1>

<table>
  <thead>
    <tr>
      <th>Source Language</th>
      <th>Target Languages</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <td><%= translation.source_language %></td>
        <td><%= translation.target_languages.join(", ") %></td>
        <td><%= link_to 'Show', translation %></td>
        <td><%= link_to 'Edit', edit_translation_path(translation) %></td>
        <td><%= link_to 'Destroy', translation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>